<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="${basedir}/logs/"/>

  <targets>
    <target name="logInfo"
            xsi:type="File"
            fileName="${logDirectory}/launcher.info.log"
            layout="${longdate} [${level}]: ${message}" />
    <target name="logErrors"
            xsi:type="File"
            fileName="${logDirectory}/launcher.errors.log"
            layout="${longdate} [${level}]: ${message}" />
    <target name="logTrace"
            xsi:type="File"
            fileName="${logDirectory}/trace.log"
            layout="${message}" />
  </targets>

  <rules>
    <logger name="*" levels="Info,Warn" writeTo="logInfo" />
    <logger name="*" levels="Error,Fatal,Debug" writeTo="logErrors" />
    <logger name="*" levels="Trace" writeTo="logTrace" />
  </rules>
</nlog>